Package: com.nito.tssagent
Priority: Extra
Name: tssagent
Pre-Depends: cy+model.appletv
Depends: firmware (>= 9.0), com.nito.kbtask
Version: 1.1-2
Architecture: appletvos-arm64
Description: Save your APTicket SHSH2 blobs to 1conans server natively on tvOS
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Utilities
